ServerAddr=localhost:8080
DATABASE_HOST=postgres://root:secret@localhost:5432/swap?sslmode=disable
PriceAPI=https://min-api.cryptocompare.com/data/generateAvg?fsym=XXCoinSymbolXX&tsym=USD&e=coinbase
RedisAddr=localhost:6379